<section id="about-section" class="section">
    <div class="section-wrapper">
        <div class="fade-in">
            <h1 class="section-heading">Hey, I'm Micaela.</h1>
            <h3 class="section-subheading">I'm great are designing pretty tables. I am super keen on things (Monica from
                FRIENDS). Sorry, we canno tbe friends if you did not get what I was refering to.</h3>
            <span class="divider"></span>
            <div class="about-wrapper">
                <img class="headshot" src="img/headshot.jpg" alt="headshot">
                <div class="about-text-wrapper">
                    <p class="about-text"><strong>I'm a senior income tax ........</p>
                    <p class="about-text">I love learning new and better ways to create seamless user experiences with
                        clean, efficient, and scalable code. I consider work an ongoing education, and I'm always
                        looking for opportunities to work with those who are willing to share their knowledge as much as
                        I want to learn. At the end of the day, my primary goal is to create something beautiful with
                        people that bring out the best in me.</p>
                    <p class="about-text"><strong>When I'm not in front of a computer screen,</strong> I'm probably
                        snowboarding, traveling, petting dogs, or learning a new song on my uke.</p>
                </div>
            </div>
        </div>
    </div>
</section>